.vscode/
*.exe
**/modules/config/*.ini
**/modules/data/*.xlsx
**/modules/data/*.csv
app/tests/**/*.ini
app/tests/*.ini
dist/**/*.ini
dist/modules/data/templates/*Incoming Inspection Log.xlsx
**/*.log

!dist/**/mods.ini
!dist/**/*.example.ini
!**/modules/config/*.default.ini
!dist/**/*.exe
!*.example.ini
